<!DOCTYPE html>

<html>

	<head>
		<meta charset="UTF-8">
		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<link rel="stylesheet" type="text/css" href="../css/members.css">
        <!-- MOBILE STYLESHEETS -->
        <link rel="stylesheet"  type="text/css" href="../css/tablet.css" media="screen and (max-device-width: 768px)">
		<link rel="stylesheet"  type="text/css" href="../css/tablet.css" media="screen and (max-device-width: 1024px) and (orientation: landscape">
        <link rel="stylesheet"  type="text/css" href="../css/mobile.css" media="screen and (max-device-width: 480px)">
		<link rel="stylesheet"  type="text/css" href="../css/mobile.css" media="screen and (max-device-width: 640px) and (orientation: landscape)">
		<!--FONTS-->
		<link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<title>The Network | Members</title>
	
	</head>
	
	<body>
	
		<div id="wrapper">
		
			<!--HEADER-->
			<header>
			<img class="logo" src="../images/logo01.png" size="100px" height="100px">
				<!--NAVIGATION-->
				<nav>
				
					<ul>
						<li><a href="../index.html" title="Home">Home</a></li>
						<li><a class="active" href="members.html" title="Members">Members</a></li>
						<li><a href="../groups/groups.html" title="Groups">Groups</a></li>
						<li><a href="../map/map.html" title="Map">Map</a></li>						
					</ul>
				
				</nav>
				
			</header>
			
			<div id="container">
			
				<div id="content-wrap">
				
					<div id="main-header">
						<h1>Members</h1>
						
						<p>Mauris non finibus metus, et interdum mauris. Fusce in fermentum lectus. Donec accumsan mi tincidunt purus rhoncus dapibus id sed neque<p>
					
					</div>
					
					<div id="main-content">
					
						<div id="main-content-wrap">
						
							<ul>
						
								<li><a href="dan_profile.html" title="Danielle Gillespie"><img class="small-icon" src="../images/icon03.png" alt="Danielle Gillespie" ></a></li>
								
								<li><a href="joe_profile.html" title="Joseph Gibson"><img class="small-icon" src="../images/icon01.png" alt="Joseph Gibson" ></a></li>
                                
                                <li><a href="#" title="Place Holder"><img class="small-icon" src="../images/icon02.png" alt="Place Holder" ></a></li>
								
							</ul>
						
						</div>
					
					</div>
				
				</div>
			
			</div>
			
			<!--FOOTER-->
			<footer>
				<div id="copy">
					<p>&copy; 2016</p>
				</div>
			
			</footer>
		
		</div>
	
	</body>
	
</html>