<!DOCTYPE html>

<html>

	<head>
		<% include head %>
		<link rel='stylesheet' href='/stylesheets/index.css' />
		<link rel="stylesheet"  type="text/css" href="/stylesheets/tablet.css" media="screen and (max-device-width: 768px)">
      	<link rel="stylesheet"  type="text/css" href="/stylesheets/mobile.css" media="screen and (max-device-width: 480px)">
		<link rel="stylesheet"  type="text/css" href="/stylesheets/mobile.css" media="screen and (max-device-width: 640px) and (orientation: landscape)">
		<title><%=title %></title>
		
	</head>
	
	<body class="index">
	
		<div id="wrapper">
		
			<!--HEADER-->
			<header>
			
				<% include nav %>
				
			</header>
			
			<div id="container">
			     <div id="Title-Graphic">
                     <img src="/images/logo02.png"  alt= "The Network">
                </div>
				<!--CONTENT-->
				<div id="content-wrap">
					
					<p class="welcome">Welcome.</p>
					<p class="blurb">The network is a small scale social networking site created for COMP 3715. Enjoy your stay! </p>
					
				
				</div>
			
			</div>
			
			<!--FOOTER-->
			<footer>
				
				<%include footer %>
			
			</footer>
		
		</div>
	
	</body>
	
</html>