<!DOCTYPE html>

<html>

	<head>
		
		<% include head %>
		<link rel="stylesheet" type="text/css" href="/stylesheets/map.css">
		<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
		
		<script src="/js/markers.js"></script>
		<script src="/js/map.js"></script>
		<script src="/js/location_store.js"></script>
		<script src="/js/newLocation.js"></script>
		<script src="/js/lastFive.js"></script>
		<title>The Network | Tracker</title>
	
	</head>
	
	<body>
	
		<div id="wrapper">
		
			<!--HEADER-->
			<header>
			<img class="logo" src="/images/logo01.png" size="100px" height="100px">
				<% include nav %>
				
			</header>
			
			<div id="container">
			
				<div id="content-wrap">
				
					<div id="main-header">
						<h1>Tracker</h1>
						
						<p class="info">Mauris non finibus metus, et interdum mauris. Fusce in fermentum lectus. Donec accumsan mi tincidunt purus rhoncus dapibus id sed neque<p>
					
					</div>
						
					<div id="main-content">
						<div id="main-content-wrap">
							<div id="location">
							
							</div>
						
							<div id="map">
								
							</div>
						
							<div id="addMarker">
								<form id="add-location">
								
									<div class="tableRow">
										<p class="label"> Member: </p>
										<p class="input"> 
											<select name="members" id="selectMember">
												<option value="" id="default"></option>
												<option value="John Smith" id="John Smith">John Smith</option>
												<option value="Jane Doe" id="Jane Doe">Jane Doe</option>
												<option value="Danielle Gillespie" id="Danielle Gillespie">Danielle Gillespie</option>
												<option value="Joseph Gibson" id="Joseph Gibson">Joseph Gibson</option>
											</select>
										</p>
									</div>
									
									<div class="tableRow">
										<p class="label">Location: </p>
										<p class="input"> 
											<select name="location" id="loci">
												<option value="" id="default"></option>
												<option value="Downtown" id="Downtown">Downtown</option>
												<option value="MUN Center" id="MUN Center">MUN Center</option>
												<option value="Village Mall" id="Village Mall">Village Mall</option>
												<option value="Avalon Mall" id="Avalon Mall">Avalon Mall</option>
												<option value="Detect Location" id="Detect">Detect Location</option>
											</select>
										</p>
									</div>
									
									<div class="tableRow">
										<p></p>
										<p> 
											<input type="button" id="addLocation" value="Add Location">
										</p>
									</div>
								</form>
							</div>
						
							<div id="map-list">
						          
								<h2>Friends to Find: </h2>
                                <table id="map-table">
                                    <tr><th>Name</th>
                                        <th>Location</th>
										<th>Date Added</th>
                                        <th>Find</th>
                                    </tr> 
                                    <tr id="defaultmsg"  class="odd">
                                        <td colspan="4">Nobody has added a location yet!</td>
                                    </tr>
                                  
                                
                                </table>
							</div>
						
							
							
							
						
						</div>
						
					</div>
				
				</div>
			
			</div>
			
			<!--FOOTER-->
			<footer>
				<% include footer %>
			
			</footer>
		
		</div>
	
	</body>
	
</html>