<!--NAVIGATION-->
				<nav>
				    
					<ul>
						<li><a href="/" title="Home">Home</a></li>
						<li><a href="members" title="Members">Members</a></li>
						<li><a href="groups" title="Groups">Groups</a></li>
						<li><a href="map" title="Map">Map</a></li>						
					</ul>
				
				</nav>